<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% for node in site.data.nav.docs %}
      {% capture sub_string %}{{node.url}}{% endcapture %}
      {% capture some_string %}{{ page.url | remove: ".html" }}{% endcapture %}

      {% assign sub_string_size = sub_string | size %}
      {% assign some_string_size = some_string | size %}
      {% assign start_index = some_string_size | minus: sub_string_size %}
      {% assign result = some_string | slice: start_index, sub_string_size %}

      <a class="sidebar-nav-item{% if result == node.url %} active{% endif %}" href="{{ node.url }}">{{node.title}}</a>
    {% endfor %}
  </nav>
</div>
